body {
  margin: 0;
}

.disp-menu, 
.disp-game {
  opacity: 0;
  transition: opacity 1000ms;
}

.disp-menu.active,
.disp-game.active {
  opacity: 1;
}

.disp-game.active {
  transition-delay: 1000ms;
}
